In [17]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
import matplotlib.pyplot as plt

In [30]:
df1 = pd.read_csv('gas_part1_output.txt', sep = '\t')

In [59]:
df1.columns = ['Date', 'Values']

In [60]:
df1

         Date                         Values
0         216   [226911.0, 12609679241760.0]
1         216   [633688.0, 12640262655767.0]
2         216  [1333269.0, 12425756546028.0]
3         216  [1002298.0, 12334599305922.0]
4         216  [1524601.0, 12238383129670.0]
...       ...                            ...
2314393   216   [358260.0, 12446310938968.0]
2314394   216   [531926.0, 12458305154142.0]
2314395   216   [333319.0, 12525258073504.0]
2314396   216   [373911.0, 12512939870504.0]
2314397   216  [3062318.0, 12531054268542.0]

[2314398 rows x 2 columns]

In [61]:
date=df1.Date

In [62]:
df3 = df1['T'].str.split(',', expand=True)

KeyError: 'T'

In [ ]:
dfnew = df3.join(date)

In [ ]:
dfnew.rename(columns = {0:'Address', 1:'Gas_Price'}, inplace = True)

In [ ]:
dfnew

In [ ]:
dfnew['Address'] = dfnew['Address'].str[1:]

In [ ]:
dfnew['Gas_Price']= dfnew['Gas_Price'].str.extract('(\d+)')

In [ ]:
dfnew['Gas_Price'].astype(float)

In [ ]:
dfnew.dtypes

In [ ]:
df_cleased=dfnew.groupby('Date').sum()

In [ ]:
df_cleased.to_csv('PartB1.csv')